a#forwarding-link
    //- a {{{content.forwardingLinkText}}}
    svg: use(href="#svg-forward-icon")
    .label Weiterleiten

button#back-button.click-button: svg: use(href="#svg-chevron-left-icon")
#patient-indication
    #patient-name-indication
    #patient-dob-indication
button#search-button.click-button: svg: use(href="#svg-search-icon")
button#cancel-search-button.click-button: svg: use(href="#svg-cross-icon")